DB_PATH="./tubely.db"
JWT_SECRET="JKFNDKAJSDKFASFNJWIROIOTNKNFDSKNFD"
PLATFORM="dev"
FILEPATH_ROOT="./app"
ASSETS_ROOT="./assets"
S3_BUCKET="tubely-123456789"
S3_REGION="us-east-2"
AWS_ACCESS_KEY_ID="access-id"
AWS_SECRET_ACCESS_KEY="secret-access-key"
S3_CF_DISTRO="TEST"
PORT="8091"
